ENV=local
# AI API Keys
OPENAI_API_KEY=sk-mock-key

# Backend Service
WENOA_BACKEND_URL=https://api.endpoint.example

# App Config
PROJECT_NAME="AI Agent archiving"

JWT_SECRET_KEY=jwt-secret
ACCESS_TOKEN_EXPIRATION=24

